ffmpeg-python
gTTS
carbonnow
aiohttp
aiofiles
cryptography
dnspython
future
googletrans==4.0.0-rc1
motor
pillow
psutil
pykeyboard
pyrogram
pyromod
python-arq
requests
search_engine_parser
speedtest-cli
TgCrypto
uvloop
youtube_dl
bs4
wget
